@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {

   --clr-primary-100: rgba(255, 255, 255, 1);
   --clr-accent-200: rgb(100, 100, 100);
   --clr-neutral-900: rgba(0, 0, 0, 1);
   --clr-bg-800: rgba(65, 63, 63, .85);
   --clr-nav-500: rgba(48, 47, 47, 0.55);

   --ff-primary: 'Roboto', sans-serif;
   --ff-accent: 'Pacifico', cursive;
}


*,
*::before,
*::after{

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html,
body {

    margin: 0;
    padding: 0;

    background-color: var(--clr-bg-800);

    overflow-x: hidden; 
    cursor: default;
    scroll-behavior: smooth;
}


nav ul{

    padding: 0;
    margin: 0;
    position: fixed;
    background-color: var(--clr-nav-500);
    width: 100%;
    display: inline-block;
    text-decoration: none;
    z-index: 1000;
}

nav li{
    display: inline-block;
    text-decoration: none;

    font-size: 1.125rem;
    padding-top: .625rem;
    padding-bottom: .625rem;
    padding-left: 2.5em;
}

nav a{
    font-family: var(--ff-accent);
    text-align: center;
    color: var(--clr-primary-100);
    text-decoration: none;
}

nav a:link{
    text-align: center;
    color: var(--clr-neutral-900);
    text-decoration: none;
}

nav a:hover{
    text-shadow: none;
    color: var(--clr-accent-200);
    

    
}

.first-section {

    top: 0;
    left: 0;
  
}

.first-background-img {

    margin: 0;

    position: absolute;
    background: url(OrlandoCitySkyline.jpg); 
    background-repeat: no-repeat;
    background-size: cover;

    top: 0;
    width: 100%;
    padding: 22.5rem;
    z-index: 0;

}

.welcome {

    position: absolute;
    color: var(--clr-primary-100);
    font-family: var(--ff-accent);
    font-size: 4.5rem;
    white-space: nowrap;

    display: flex;

    top: 15.25rem;

    left: 33vw;


    text-align: center;
}

.welcome:hover{

    opacity: 0;
}

.about-me {

    display: none;

    color: var(--clr-primary-100);
    font-family: var(--ff-primary);
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;

    background-color: var(--clr-bg-800);
    
    border-radius: 1.25rem;
    
    position: absolute;
    top: 14rem;
    right: .001rem;

    padding: 1.125rem;

}

.welcome:hover + .about-me{

    display: flex;
}


#second-section {
    
    position: absolute;
    width: 100%;
    top: 45rem;    
}

#second-background-img {

    margin: 0;

    position: absolute;
    background: url(ProjectsSectionImage.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;

    top: 0;
    width: 100%;
    padding: 22.5rem;
    z-index: 0;


}


.second-section-message { 

    position: absolute;
    display: flex;
    color: var(--clr-neutral-900);
    font-family: var(--ff-accent);
    font-size: 4.5rem;

    text-align: center;
    top: 15rem;

    left: 27vw;

    z-index: 1;
    white-space: nowrap;
}

.button-center {

    display: flex;

    justify-content: center;
    align-items: center;

    position: absolute;

    top: 27rem;
    left: 40vw

}

.git-hub {

    display: inline-block;
    border-radius: 25px;
    box-shadow: none;

    padding-top: .5rem;
    padding-bottom: 1.125rem;

    background: -webkit-linear-gradient( rgb(183, 110, 121), rgb(40, 40, 40));
    border: none;


}

.git-hub a {

    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    color: var(--clr-primary-100);
    font-family: var(--ff-accent);
    font-size: 3rem;
}


/* Resume Styling */


.container--narrow {

    width: min(90%, 95rem);
    height: 100%;
}


.contact-info{

    text-align: center;
    font-size: 1.125rem;
    font-family: var(--ff-primary);
    color: var(--clr-primary-100);
    line-height: 1.6em;
    padding: 1rem;
}

.skills{

    text-align: left;
    font-size: 16px;
    font-family: "Roboto", serif;
    color: var(--clr-primary-100);
    line-height: 1em;
    padding: 1rem;
}

.skills ul{

    list-style: none;
}

.skills li{

    text-decoration: none;
    display: inline-block;
    padding-right: 1rem;

}

.summary{

    text-align: left;
    font-size: 1em;
    font-family: var(--ff-primary);
    color: var(--clr-primary-100);
    line-height: 1.6rem;
    word-spacing: .1rem;
    padding: 1rem;

}

.education{

    text-align: left;
    font-size: 1em;
    font-family: var(--ff-primary);
    color: var(--clr-primary-100);
    line-height: 1.6rem;
    word-spacing: .1rem;
    padding: 1rem;
}

.work-experience{

    text-align: left;
    font-size: 1rem;
    font-family: var(--ff-primary);
    color: white;
    line-height: 1.6rem;
    word-spacing: .1rem;
    padding: 1rem;

}
