@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body{
    background-color: rgba(65, 63, 63, .85);
    height: 100%;
    margin: auto;
    overflow-x: hidden; 
    cursor: default;
    scroll-behavior: smooth;

}

nav ul{
    background-color: rgba(48, 47, 47, 0.55);
    width: 100%;
    display: inline-block;
    text-decoration: none;
    position: fixed;
}

nav li{
    display: inline-block;
    text-decoration: none;

    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2.5em;
}

nav a{
    font-family: 'Pacifico', cursive;;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a:link{
    text-align: center;
    color: black;
    text-decoration: none;
}

nav a:hover{
    text-shadow: none;
    color: rgb(100, 100, 100);
    

    
}

.first-section{
    margin: 0;
    padding: 20.75em;
    background: url(OrlandoCitySkyline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.welcome{
    color: white;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-size: 75px;
    padding: 0;
    margin: 0;
}

.about-me{
    color: white;
    font-family: "Roboto", serif;
    font-size: 24px;
    text-align: left;

    padding: 1.5em;
    line-height: 1.35em;
    word-spacing: .01em;

    background-color: rgba(65, 63, 63, .85);
    border-radius: 25px;
    box-shadow: 1px 1px rgba(65, 63, 63, 1) ;
    display: none;


}

.welcome:hover,
.welcome:focus
{
    color: transparent;   
}

.welcome:hover + .about-me,
.welcome:focus
{

    display: flex;
    position: absolute;
   
    top: 35%;
    left: .001%;

}

#second-section{
 
    margin: 0;
    padding: 20.75em;
    background: url(ProjectsSectionImage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.second-section-message{

    color: white;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-size: 75px;
    padding: 0;
    margin: 0;
}

.second-section-message:hover,
.second-section-message:focus
{
    color: transparent;
}


.contact-info{

    text-align: center;
    font-size: 18px;
    font-family: "Roboto", serif;
    color: white;
    line-height: 1em;
}

.skills{

    text-align: left;
    font-size: 16px;
    font-family: "Roboto", serif;
    color: white;
    line-height: 1em;
    padding: 1em;
}

.skills ul{

    list-style: none;
}

.skills li{

    text-decoration: none;
    display: inline-block;
    padding-right: 1em;

}

.summary{

    text-align: left;
    font-size: 16px;
    font-family: "Roboto", serif;
    color: white;
    line-height: 1em;
    word-spacing: .1em;
    padding: 1em;

}

.education{

    text-align: left;
    font-size: 16px;
    font-family: "Roboto", serif;
    color: white;
    line-height: 1em;
    word-spacing: .1em;
    padding: 1em;
}


.work-experience{

    text-align: left;
    font-size: 16px;
    font-family: "Roboto", serif;
    color: white;
    line-height: 1em;
    word-spacing: .1em;
    padding: 1em;

}
